@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');
/*
html {
    width: 100%;
    min-height: 100%;
}
*/
body {
    background-image: linear-gradient(15deg, #f6ffce, #dcf4ff);
    background-size: cover;
    
   
    
}

/* header */

.logo {
    position: absolute;
    left:100px;
    top: 13px;
}

.subNav {
    position: relative;
    float: right;
    top:23px;
    right: 100px;
    
    font-size: 32px;
    font-family: 'Amatic SC', cursive;
    
  
    margin-left:  15px;
    
}

.subNav a  {
    text-decoration: none;
    color: black;
    margin: 10px;
    
}

.subNav a:hover {
    color: aqua;
    transition: 0.4s;
}

/* animation home */

.textHeader {
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
  
    margin-top: 170px;
    
    width: 100%;
    text-align: center;
    
    
    max-width: 90%;
    min-width: 500px
}

.textHeader p {
    width: 600px;
    
    position: absolute;
}

#animationHome {
    position: absolute;
    top: 210px; 
    width: 320%;
    left: 800px;
    
    
}

.animationAdaptation {
    width: 100%;
    height: auto;
    
    max-width: 90%;
    max-height: 100%;
}

.room {
    width: 100%;
    height: 400px;
    
    position: absolute;
}

.backRoom {
    width: 100%;
    position: absolute;
    z-index: 0;
}

.door {
    position:absolute;
    top: 144px;
    right: 200px;
    
}

.people1 {
    position:absolute;
    width: 50px;
    top: 230px;
    right: 140px;
    z-index: 1;
}

.people2 {
    position:absolute;
    width: 50px;
    top: 220px;
    right: 300px;
    z-index: 1;
}

.people3 {
    position:absolute;
    width: 60px;
    top: 220px;
    right: 220px;
    z-index: 1;
}
.people4 {
    position:absolute;
    width: 60px;
    top: 220px;
    right: 60px;
    z-index: 1;
}

.safe {
    position:absolute;
    width: 70px;
    top: 230px;
    right: 480px;
    z-index: 1;
}

.key {
    position:absolute;
    width: 100px;
    top: 80px;
    right: 80px;
    z-index: 1;
    
    transform: rotate(-6deg)
}

#content {
    margin-top: 1%;
    position: absolute;
    
    width: 13%;
}


/* адапатация */

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
   
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
 
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
 
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    #header {
        text-align: center;
        
    }
    
    .subNav {
        text-align: center;
        position: absolute;
        margin-top: 50px;
    }
    
    .animationAdaptation {
        
        
       
        position:relative;
        right: 300px;
        top: 100px;
        
        
    }
    
}