@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');

* {
    margin: 5px auto;
    
}

html {
   
    min-height: 100%;
}

body {
    background-image: linear-gradient(15deg, #f6ffce, #dcf4ff);
    background-size: cover;
}

a{
    color: black;
    
    font-family: 'Amatic SC', cursive;
    font-size: 34px;
     padding:  10px;
    
    
    line-height: 1;
    display: inline-block;
    text-decoration:none;
    cursor:pointer;
}

a:after {
    
    display: block;
    content: "";
    height: 25px;
    width: 0%;
    background: url(../image/footer2.png);
    background-size: contain;
    border-radius: 10px;
    /*background-color: orangered;*/
    /* original variant */ 
    transition: width .3s ease-in-out;
    /*
    left:50%;
    position:absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
    */
}

a:hover:after,
a:focus:after {
    
    width: 100%;
    
}

.header-grid {
    font-family: 'Amatic SC', cursive;
    font-size: 34px;
}

.header-grid p {
   
    height:75%;
    width: 70%;
    
    margin-top: 7%;
}

.bg-back {
    background: url(../image/slider-bg.png);
    background-size: cover;
}