@import url('https://fonts.googleapis.com/css?family=Play');



* {

    padding: 0;
    margin: 1;
    font-family: 'Play', sans-serif;
    
    
}

body {
    background-color: #131a22;
    color:papayawhip;
    margin:20px;
}

/* здесь настройки меню выезжающего меню */

#sidebar {
    z-index: 1;
    position: fixed;
    width: 278px;
    height: 670px;
    

    border-radius: 46px;
    left: -276px;

    -moz-transition: all 1300ms;
    -webkit-transition: all 1300ms;
    transition: all 1300ms;
    
    background: url(theme/menuNav.png);
    background-size: cover;
    
}

#sidebar.active {
    left: 0px;
}

#sidebar ul li:first-child {
    text-align: center;
    font-size: 1.95em;
    list-style: none;
    padding: 25px 10px 10px 10px;
    color: rgba(37, 186, 47, 1);
}

#sidebar ul li:not(:first-child) {
    width: 75%;
    margin-left:25%;
    list-style: none;
    padding: 15px 10px;

}

#sidebar ul li a {
    text-decoration: none;

}

#sidebar ul li a:hover {
    color: rgba(37, 186, 47, 1);
   


}

#sidebar .toggle-btn {
    position: absolute;
    width: 100px;
    height: 30px;
    left: 268px;
    top: 20px;
    background: url(theme/But2.png);
    background-size: cover;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.9s;
}

#sidebar .toggle-btn:hover {
     background: url(theme/But1.png);
    background-size: cover;
}

#sidebar .toggle-btn:hover span {
    background: white;
}


#sidebar .toggle-btn span {
    display: block;
    width: 25px;
    height: 4px;
    background-color: white;
    margin: 4px 0;
}


.colorUL {
    color: wheat;

}


.content {
    text-align: center;
    margin-top: 70px;
}

.logo {
    margin-top: 56%;
    margin-left: 20%;

}

/*operators.html*/

.operater {
    padding-left: 20px;
}
.operater li {
    list-style: none;
}

table {
    
    border: 5px solid blue;
    padding: 3px;
}

tr {
    border: 2px solid blue;


}

td:nth-of-type(1) {
    background: url(theme/texture1.jpg);
    background-position:bottom;
    background-size: cover;
    
}


td {
    border: 3px solid blue;
    padding: 3px;
    
}

/* header site */
#header {
    width: 980px;
    height: 190px;
    margin-left: 260px;
    color: floralwhite;
    display: block;
    background: url(theme/banner.jpg);
    background-size: cover;

}

#header h1 {
    text-align: center;
    position: relative;
    top: 30px;
}

#header p {
    position: relative;
    top: 10px;
    text-align: center;
}


/* operators html */
.falseText {
    color: crimson;
}

.trueText {
    color: chartreuse;;
}

.operatorsCol {
    color:white;
    font-size: 50px;
    
}

.codeText {
    font-size: 17px;
}

.tableLogic {
    margin-left: 30%;
    text-align: center;
}

.tableOfTrue {
width: 610px;
}



.tableOfTrue td:nth-of-type(1) {
    background: url(theme/cntHead.jpg);
    background-position: center;
    background-size: cover;
}




