/* triangle */

#containerTriangle {
    position: relative;
    margin: 200px auto;
    width: 300px;
    height: 300px;
    perspective: 500px;
}


.triangle {
    /* inherit это наследование род-элемента*/
    width: inherit;
    height: inherit;
   
    backface-visibility: hidden;
    
    transform-style: preserve-3d;
    -webkit-transition: top 0.8s ease-out 1s;
     -moz-transition:  top 0.8s ease-out 1s;
     -o-transition: top 0.8s ease-out 1s;
     transition: top 0.8s ease-out 1s;
}


.sideT  {
    position: absolute;
    width: inherit;
    height: inherit;
    border: 3px solid green;
    font: normal 70px arial;
    text-align: center;
    line-height: 300px; 
    backface-visibility: visible;
}





.backT{
    transform: rotateY(180deg) translateZ(950px);
    background: url(imageCube/peach.gif);
    background-size:cover;    
    background-position: center;
}

.rightT  {
    transform: rotateY(90deg) translateZ(150px);
    background: url(imageCube/Samus.gif);
    background-size: cover;
    
}

.leftT {
     transform: rotateY(-90deg) translateZ(150px);
    background: url(imageCube/robot.gif);
    background-size: contain;
    background-position: center;
}

.topT { 
    transform: rotateX(90deg) translateZ(150px);
    background: url(imageCube/warrior.gif);
    background-size: cover;
    background-position: center;
}

.bottomT {
    transform: rotateX(-90deg) translateZ(150px);
    background: url(imageCube/jill.gif);
    background-size: cover;
    background-position: center;
}