@import url('https://fonts.googleapis.com/css?family=Play');



* {

    padding: 0;
    margin: 1;
    font-family: 'Play', sans-serif;


}

body {
    background-color: #131a22;
    color: papayawhip;
    margin: 20px;
}

/* здесь настройки меню выезжающего меню */

#sidebar {
    z-index: 1;
    position: fixed;
    width: 278px;
    height: 670px;


    border-radius: 46px;
    left: -276px;

    -moz-transition: all 1300ms;
    -webkit-transition: all 1300ms;
    transition: all 1300ms;

    background: url(theme/menuNav.png);
    background-size: cover;

}

#sidebar.active {
    left: 0px;
}

#sidebar ul li:first-child {
    text-align: center;
    font-size: 1.95em;
    list-style: none;
    padding: 25px 10px 10px 10px;
    color: rgba(37, 186, 47, 1);
}

#sidebar ul li:not(:first-child) {
    width: 75%;
    margin-left: 25%;
    list-style: none;
    padding: 15px 10px;

}

#sidebar ul li a {
    text-decoration: none;

}

#sidebar ul li a:hover {
    color: rgba(37, 186, 47, 1);



}

#sidebar .toggle-btn {
    position: absolute;
    width: 100px;
    height: 30px;
    left: 268px;
    top: 20px;
    background: url(theme/But2.png);
    background-size: cover;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.9s;
}

#sidebar .toggle-btn:hover {
    background: url(theme/But1.png);
    background-size: cover;
    /* переворот кнопки */
    transform: rotate(360deg);
    transition: 2s;
}

#sidebar .toggle-btn:hover span {
    background: white;
}


#sidebar .toggle-btn span {
    display: block;
    width: 25px;
    height: 4px;
    background-color: white;
    margin: 4px 0;
}


.colorUL {
    color: wheat;

}


.content {
    text-align: center;
    margin-top: 70px;
}

.logo {
    margin-top: 40%;
    margin-left: 20%;

}

/* sidebar CSS */


#sidebarCSS {
    z-index: 1;
    position: fixed;
    width: 278px;
    height: 670px;


    border-radius: 46px;
    right: -278px;

    -moz-transition: all 1300ms;
    -webkit-transition: all 1300ms;
    transition: all 1300ms;




    background: url(theme/menuNavCSS.png);
    background-size: cover;
}


#sidebarCSS.active {
    right: 1px;

}

#sidebarCSS ul li:first-child {
    text-align: center;
    font-size: 1.95em;
    list-style: none;
    padding: 25px 10px 10px 10px;
    color: rgba(37, 186, 47, 1);


}

#sidebarCSS ul li:not(:first-child) {
    width: 75%;
    margin-left: 25%;
    list-style: none;
    padding: 15px 10px;

}

#sidebarCSS ul li a {
    text-decoration: none;

}

#sidebarCSS ul li a:hover {
    color: rgba(37, 186, 47, 1);



}

#sidebarCSS .toggle-btn {
    position: absolute;
    width: 100px;
    height: 30px;
    right: 268px;
    top: 20px;
    background: url(theme/But2.png);
    background-size: cover;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.9s;

}

#sidebarCSS .toggle-btn:hover {
    background: url(theme/But1.png);
    background-size: cover;
    /* переворот кнопки */
    transform: rotate(360deg);
    transition: 2s;
}

#sidebarCSS .toggle-btn:hover span {
    background: white;
}


#sidebarCSS .toggle-btn span {
    display: block;
    width: 25px;
    height: 4px;
    background-color: white;
    margin: 4px 0;
}


.content {
    text-align: center;
    margin-top: 70px;
}

.logoCSS {
    margin-top: 65%;
    margin-left: 11%;

}



/*operators.html*/

.operater {
    padding-left: 20px;
}

.operater li {
    list-style: none;
}

table {

    border: 5px solid blue;
    padding: 3px;
}

tr {
    border: 2px solid blue;


}

td:nth-of-type(1) {
    background: url(theme/texture1.jpg);
    background-position: bottom;
    background-size: cover;

}


td {
    border: 3px solid blue;
    padding: 3px;

}

/* header site */
#header {
    width: 930px;
    height: 190px;
    margin-left: 230px;
    color: floralwhite;
    display: block;
    background: url(theme/banner.jpg);
    background-size: cover;

}

#header h1 {
    text-align: center;
    position: relative;
    top: 30px;
}

#header p {
    position: relative;
    top: 10px;
    text-align: center;
}


/* operators html */

.falseText {
    color: crimson;
}

.trueText {
    color: chartreuse;
    ;
}

.operatorsCol {
    color: white;
    font-size: 50px;

}

.codeText {

    font-size: 19px;
    background-color: firebrick;


}



.tableLogic {
    margin-left: 30%;
    text-align: center;
}

.tableOfTrue {
    width: 610px;
}



.tableOfTrue td:nth-of-type(1) {
    background: url(theme/cntHead.jpg);
    background-position: center;
    background-size: cover;
}


.biteMath {
    border: 3px solid black;
    width: 10%;
    background: url(theme/cntFooter.jpg);
    background-size: cover;
    background-position: center;
}

.exampleCode {
    margin: 10px;
}

/* while , if/else  */

.scriptsExam {
    border: 2px solid blue;
    margin: 13px;
    padding: 7px;

    width: 870px;
    text-align: center;
    margin-left: 250px;
    background: url(theme/bdyfill.jpg);
    background-size: contain;
}

/* sea battle.html */


.textSeaBattle {
    border: 2px solid blue;
    width: 490px;
    height: 240px;

    text-align: center;
}

.project ul {
    list-style: none;
}

/*  рисунок блок схемы */
#blockSchem {
    display: inline-block;
    width: 500px;
    padding-left: 160px;
}

#blockSchem .circle {

    position: relative;
    left: 50px;
    text-align: center;

    width: 100px;
    height: 40px;
    border: 10px solid red;
    border-radius: 860px;

    padding: 20px;
    margin: 20px;
}

#blockSchem .rectangle {
    text-align: center;

    border: 10px solid green;
    width: 200px;
    height: 40px;
    color: orangered;
    padding: 20px;
    margin: 20px;
}


#blockSchem .rectangleIf {
    position: relative;
    left: 320px;
    bottom: 230px;
    text-align: center;
    border: 10px solid green;
    width: 200px;
    height: 40px;

    padding: 20px;
    margin: 20px;
}


#blockSchem .diamond {
    color: red;
    text-align: center;

    width: 120px;
    height: 120px;
    border: 10px solid blue;
    /* Rotate */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;

    margin: 80px 0px 0px 0px;
    position: relative;
    bottom: 90px;
    left: 50px;

}

.textDiam {
    padding-top: 10px;
    padding-right: 32px;
    text-align: center;
    transform: rotate(-42deg);
}

.downArrow {
    padding-left: 25%;
}

.rightArrow {
    transform: rotate(-90deg);
    position: relative;

    right: 130px;
    bottom: 225px;

}

.leftArrow {
    position: relative;
    right: 166px;
    bottom: 300px;
    height: 250px;
    transform: rotateY(180deg);
}

.missArrow {
    position: relative;
    left: -180px;
    bottom: 140px;
    height: 250px;
    transform: rotate(280deg);
}

.missText {
    position: relative;
    bottom: 330px;
    right: 160px;

    font-size: 30px;
    color: dodgerblue;
}

.textLeftArrow {
    position: relative;
    bottom: 370px;
    right: 160px;

    font-size: 20px;
    color: purple;
}

#textBlockSchem {}

.playBattle {
    display: inline-block;

    position: absolute;
}

.playBattle:hover {


    text-align: center;



    width: 500px;

    transform: rotateY(360deg);
    transition: height 3s linear;
    height: 400px;
    background: url(img/logoShip.png);
    background-size: cover;
    background-position: center;
    border: 1px solid red;
    border-radius: 13px;
}

.ButPlay:hover {
    color: greenyellow;
    background-color: gray;
}

.ButPlay {

    border-radius: 13px;
    border: 4px solid red;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: antiquewhite;
}

/* function html */

#contentFunc {
    text-align: center;
    border: 5px solid green;

}

.BlockFunction_1 {
    border: 3px solid red;
    width: 50%;
    margin: auto;
    background-color: dimgray;
    color: darkred;
}

h2 {
    text-align: center;
}

#typeOF {
    text-align: center;
}

.clickBut {
    font-family: 'AmazDooMLeft2';

    font-size: 80px;
    color: red;

}

.clickBut:hover {
    color: black;
    border: 1px solid red;

    background-color: red;
    transition: 1s;
    box-shadow: 0 0 125px rgba(209, 50, 50, 1),
        inset 0 0 200px rgba(173, 7, 7, 1);
}

.clickBut:active {
    color: yellow;
}

#typeTextDOOM {
    font-size: 100px;
    width: 0px;
    color: black;
    border: 1px solid red;
    border-radius: 50px;
    background-color: red;

    box-shadow: 0 0 125px rgba(209, 50, 50, 1),
        inset 0 0 200px rgba(173, 7, 7, 1);
    font-family: 'AmazDooMLeft2';
    font-size: 130px;
    
    position: relative;
    left: 420px;
    bottom: 90px

}




@font-face {
    font-family: 'AmazDooMLeft2';
    font-weight: normal;
    font-style: normal;
    src: url(fonts/AmazDooMLeft2.ttf);
}

@font-face {
    font-family: 'AmazDooMRight2';
    font-weight: normal;
    font-style: normal;
    src: url(fonts/AmazDooMRight2.ttf);
}

#typeText {

    width: 0px;
    font-size: 100px;

    color: black;
    border: 1px solid red;
    border-radius: 50px;
    background-color: red;

    box-shadow: 0 0 125px rgba(209, 50, 50, 1),
        inset 0 0 200px rgba(173, 7, 7, 1);
}

.DivMotoko {
    text-align: left;
    
}
.buttonMot {
    font-size: 20px;
    
}

#ObjectMotoko  {
   
    font-size: 30px;
   
}

.buttonMot:hover {
   cursor:pointer;
}


/* mathHTML */

.buttonMath {
    color: orange;
    width: 400px;
    height: 150px;
    
    border-radius:90px;
    background: url(img/NqUX6hS.gif);
    -webkit-background-size: cover;
    background-size: cover;
    
    font-size: 20px;

}

.buttonMath:hover {
    color: red;
    cursor: pointer;
    
    transform: rotate(10deg);
   
    transition: 2s;
      
}